.registerDesign {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 81vh;
    width: 80vw;

}


.registerFormContainer {
    display:flex;
    flex-direction: column;

}

#registerText {
    color:white
}


@media only screen and (max-width: 800px) {
    .registerDesign{
        width: 100vw;
    }
}